<h1>Employee-Registration </h1>

<label>name:</label>
<input type="text"[(ngModel)]="name">
<br>

<label>age:</label>
<input type="number"[(ngModel)]="age">
<br>

<label>company:</label>
<input type="text"[(ngModel)]="company">
<br>

<label>package:</label>
<input type="number"[(ngModel)]="package">
<br>

<button (click)="register()">register</button>
<br>

<table class="table">
    <thead>
        <tr>
            <th>S.NO</th>
            <th>Name:</th>
            <th>age:</th>
            <th>Company:</th>
            <th>package</th>
        </tr>
    </thead>
    <tbody *ngFor="let employee of employees; let i=index">
        <tr>
         <td>{{i+1}}</td>
         <td>{{employee.name}}</td>
         <td>{{employee.age}}</td>
         <td>{{employee.company}}</td>
         <td [ngStyle]="{'color':employee.package>=10? 'white':'black'}"
            [ngClass]="{'green':employee.package>=10,'red':employee.package<10}">{{employee.package}}</td>\         <td>
             <button class="btn btn-danger"(click)="delete(i)">delete</button>
         </td>
        </tr> 

    </tbody>
</table>
