<input type="text" placeholder="search" [(ngModel)]="fil">
<!-- <button (click)="filter()" >filter</button> -->




<table class="table table-dark">
    <thead>

    </thead>
    <tbody>
        <tr *ngFor="let vehilce of vehilces">
            <td>{{vehilce. Vehicle}}</td>
            <td>{{vehilce.manufacturer}}</td>
            <td>{{vehilce. model}}</td>
            <td>{{ vehilce. type}}</td>
            <td>{{vehilce. fuel }}</td>
            <td>{{vehilce. color }}</td>
            <td>
                <img src= "{{ vehilce.image}}" height="100px" width="100%">
            </td>
            <td>{{vehilce.id}}</td>
        

        </tr>
    </tbody>
</table>

<ul class="pagination">
    <li class="page-item"(click)="page(1)"><a class="page-link" >1</a></li>
    <li class="page-item"(click)="page(2)"><a class="page-link" >2</a></li>
    <li class="page-item"(click)="page(3)"><a class="page-link" >3</a></li>
</ul> 


