.parent{
    height: 100vh;
    width:100vw;
    display: flex;
}
.left{
    height: 100%;
    width:25%;
    background-color: rgb(103, 101, 101);
    color: white;
    text-align: center;
}
.left>h4{
    cursor: pointer;
}
.left>h4:focus{
    height:30px;
    background-color:black;

}
.left>button:hover{
    cursor:pointer;
    background-color: blue;
    color: white;
}
.right{
    height:100%;
    width:100%;
    background-color: rgb(217, 245, 148);
    display: flex;
    justify-content: center;
    align-items: flex-start

  
    
}