<div class="parent">
    <div class="left">
        <h4 routerLink="interpolation">interpolation</h4>
        <h4 routerLink="event-binding">event binding</h4>
        <h4 routerLink="two-way-binding">two-way-binding</h4>
        <h4 routerLink="calculator">calculator</h4>
        <h4 routerLink="rectangle">rectangle</h4>
        <h4 routerLink="square">square</h4>
        <h4 routerLink="power">power</h4>
        <h4 routerLink="event-registration">event-registration</h4>
        <h4 routerLink="employee-registration">employee-registration</h4>
        <h4 routerLink="cart">cart</h4>
        <h4 routerLink="pipes">Pipes</h4>
        <h4 routerLink="gpay">G pay</h4>
        <h4 routerLink="bank">Bank</h4>
        <h4 routerLink="vehilces">vehilce</h4>
        <h4 routerLink="post-api-json">postapi_json</h4>
        <h4 routerLink="mails">mails</h4>
        <h4 routerLink="create-account">Create account</h4>
        <h4 routerLink="create-user">create-user</h4>
    

        <button (click)="logout()">logout</button>

    </div>
    <div class="right">
    
        <router-outlet></router-outlet>

    </div>

</div>
